<div class="page-header">
  <div class="container">
    <h1>Departments</h1>
  </div>
</div>


<div class="container">


  <div class="row center-xs" *ngIf="!isAuthorized">
    <h2>Your actions</h2>
  </div>
  <div class="mt-1 mat-elevation-z8">
    <div class="row center-xs" *ngIf="isAuthorized">
      <app-google-maps [departments]="departments"></app-google-maps>
    </div>
    <div *ngIf="!isAuthorized">
      <table
        mat-table
        matSort
        [dataSource]="notificationDataSource"
        class="mat-elevation-z8">

        <ng-container matColumnDef="{{ column }}" *ngFor="let column of notificationColumnsToDisplay">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column[0].toUpperCase() + column.substr(1) }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>

        <ng-container matColumnDef="show">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="showOnMap(element)" mat-raised-button color="primary">
              Show On Map
            </button>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container> -->



        <tr mat-header-row *matHeaderRowDef="notificationColumnsToDisplayWithShow"></tr>
        <tr mat-row *matRowDef="let row; columns: notificationColumnsToDisplayWithShow;"></tr>
      </table>
    </div>


  </div>
</div>


<div class="container">
  <div class="row end-xs mt-1">
    <div class="col-xs-12">
      <input type="text" class="search-input" placeholder="Search departments"
      [(ngModel)]="filterString"
        (keyup)="filterDepartments()">
        <a routerLink="/departments/add" mat-raised-button color="primary" class="ml-1" *ngIf="isAuthorized">Add Department</a>
    </div>
  </div>
  <div class="mt-1 mat-elevation-z8">
    <table
      mat-table
      #outerSort="matSort"
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
    >
      <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column[0].toUpperCase() + column.substr(1) }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/departments', element.id]" *ngIf="isAuthorized">
            <mat-icon color="primary">edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedElement !== element"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="expandedElement === element"
              >keyboard_arrow_up</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
              <a [routerLink]="['/departments', element.id, 'employees', 'add']" mat-raised-button color="primary" class="ml-1" *ngIf="isAuthorized">Add Employee</a>
              <table #innerTables mat-table #innerSort="matSort" [dataSource]="element.employees" matSort>
                <ng-container matColumnDef="{{innerColumn}}" *ngFor="let innerColumn of innerDisplayedColumns">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{innerColumn[0].toUpperCase() + innerColumn.substr(1)}}</th>
                  <td mat-cell *matCellDef="let element"> {{element[innerColumn]}}</td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let employeeElement">
                    <a [routerLink]="['/departments', element.id, 'employees', employeeElement.id]" *ngIf="isAuthorized">
                      <mat-icon color="primary">edit</mat-icon>
                    </a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="innerDisplayedColumnsWithExpand"></tr>
                <tr mat-row *matRowDef="let row; columns: innerDisplayedColumnsWithExpand;"></tr>
              </table>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 15]"
              aria-label="Select page">
    </mat-paginator>
  </div>
</div>
