table {
  width: 100%;
}

tr.example-detail-row {
  height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.employee-table td {
  padding-left: 4em;
}

.inner-table {
  width: 100%;
}


.search-input {
  height: 2em;
  width: 16em;
  outline: none;
  border: 1px solid #CCC;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 3px;
}

.search-input:active{
  border: 1px solid #BBB;
}

.search-input:focus {
  border: 1px solid #AAA;
}

.row {
  padding: 1em 0 1em;

}
