<div class="form-froup">

  <label class="col-sm-2 col-form-label">Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="Name" placeholder="Department Name">
  </div>

  <label class="col-sm-2 col-form-label">Description</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="Description" placeholder="Description">
  </div>

  <label class="col-sm-2 col-form-label">Category</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="Category" placeholder="Category">
  </div>

  <label class="col-sm-2 col-form-label">Contact Email</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="ContactEmail" placeholder="Contact Email">
  </div>

  <label class="col-sm-2 col-form-label">Contact Number</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="ContactNumber" placeholder="Contact Number">
  </div>

  <label class="col-sm-2 col-form-label">City</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="City" placeholder="City">
  </div>

  <label class="col-sm-2 col-form-label">Street</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="Street" placeholder="Street">
  </div>

  <label class="col-sm-2 col-form-label">Postal Code</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="PostalCode" placeholder="Postal Code">
  </div>



</div>

<!-- TODO totalItemsCount -->
<button (click)="addDepartment()" *ngIf="dep.id === undefined" class="btn btn-primary">Add</button>
<button (click)="updateDepartment()" *ngIf="dep.id !== undefined" class="btn btn-primary">Update</button>
