
<div class="form-group">
  <input type="text" class="addressInput" (keydown.enter)="$event.preventDefault()" placeholder="Search location" #search>
</div>
<google-map height="50vh"
            width="90vw"
            [center]="center"
            [zoom]="zoom"
            [options]="mapOptions"
            (mapClick)="addMarker($event)"

>


<map-marker *ngFor="let markerPosition of markerDepartmentsPositions"
[position]="markerPosition"
[options]="markerDepartmentOptions">
</map-marker>

<map-marker #marker = "mapMarker" *ngFor="let markerPosition of markerEmployeesPositions; let i = index"
[position]="markerPosition.position"
[options]="markerEmployeeOptions"
(mapClick)="openInfoWindow(marker, i)">

<map-info-window>

<h3>Id: {{markerPosition.employeeId}}, {{markerPosition.firstName}} {{markerPosition.lastName}}</h3>


</map-info-window>
</map-marker>

<map-marker *ngFor="let markerPosition of markerActionsPositions"
            [position]="markerPosition"
            [options]="markerActionOptions"
            >
            </map-marker>

</google-map>

<!--
(mapClick)="moveMap($event)"
(mapMousemove)="move($event)" -->
