
<div class="form-group">
  <input type="text" class="addressInput" (keydown.enter)="$event.preventDefault()" placeholder="Search location" #search>
</div>
<google-map height="50vh"
            width="90vw"
            [center]="center"
            [zoom]="zoom"
            [options]="mapOptions"
            (mapClick)="addMarker($event)">

<map-marker *ngFor="let markerPosition of markerDepartmentsPositions"
[position]="markerPosition"
[options]="markerDepartmentOptions">
</map-marker>

<map-marker #marker = "mapMarker" *ngFor="let markerPosition of markerEmployeesPositions; let i = index"
[position]="markerPosition.position"
[options]="markerEmployeeOptions"
(mapClick)="openEmployeeInfoWindow(marker, i)">

<map-info-window>

<h3>Id: {{markerPosition.employeeId}}, {{markerPosition.firstName}} {{markerPosition.lastName}}</h3>


</map-info-window>
</map-marker>

<map-marker #marker2 = "mapMarker" *ngFor="let markerPosition of markerActionsPositions; let i = index"
            [position]="markerPosition.position"
            [options]="markerActionOptions"
            (mapClick)="openActionInfoWindow(marker2, i, actionWindow)">

            <map-info-window #actionWindow = "mapInfoWindow">

              <h3 *ngIf="markerPosition.name">{{markerPosition.name}}</h3>
                <input type="text" id="actionName" name="actionName" placeholder="Enter name" *ngIf="!markerPosition.name" #actionName>
                <input type="text" id="actionDescription" name="actionDescription" placeholder="Description" *ngIf="!markerPosition.name" #actionDescription>
                <h3>Lat: {{markerPosition.position.lat()}} Lng: {{markerPosition.position.lng()}}</h3>
                <div class="row between-xs">
                  <button mat-raised-button color="primary" (click)="onUpdate(markerPosition.actionId)" *ngIf="!markerPosition.name">Save</button>
                  <button mat-raised-button color="warn" (click)="onDelete(markerPosition.actionId)">Delete</button>
                </div>
            </map-info-window>

            </map-marker>

</google-map>

<!--
(mapClick)="moveMap($event)"
(mapMousemove)="move($event)" -->
