<div class="page-header">
  <div class="container">
    <h1>{{header}}</h1>
  </div>
</div>

<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/departments" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <form #departmentDetailsForm="ngForm">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput [(ngModel)]="department.name" name="name">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="department.description" name="description"></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="text" matInput [(ngModel)]="department.contactEmail" name="email">
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Number</mat-label>
              <input type="text" matInput [(ngModel)]="department.contactNumber" name="number">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <input type="text" matInput [(ngModel)]="department.category" name="category">
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Street</mat-label>
              <input type="text" matInput [(ngModel)]="department.street" name="street">
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Postal Code</mat-label>
              <input type="text" matInput [(ngModel)]="department.postalCode" name="postalCode">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input type="text" matInput [(ngModel)]="department.city" name="city">
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row between-xs" *ngIf="!isNewDepartment">
              <button mat-raised-button color="primary" (click)="onUpdate()" >Save</button>
              <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
            </div>
            <div class="row between-xs" *ngIf="isNewDepartment">
              <button mat-raised-button color="primary" (click)="onAdd()">Add</button>

            </div>

          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6"></div>
  </div>

</div>
