<div class="page-header">
  <div class="container">
    <h1>{{header}}</h1>
  </div>
</div>

<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/departments" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <form #employeeDetailsForm="ngForm">
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input type="text" matInput [(ngModel)]="employee.firstName" name="name">
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput [(ngModel)]="employee.lastName" name="description">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Street</mat-label>
              <input type="text" matInput [(ngModel)]="employee.street" name="street">
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Postal Code</mat-label>
              <input type="text" matInput [(ngModel)]="employee.postalCode" name="postalCode">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input type="text" matInput [(ngModel)]="employee.city" name="city">
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row between-xs" *ngIf="!isNewEmployee">
              <button mat-raised-button color="primary" (click)="onUpdate()">Save</button>
              <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
            </div>
            <div class="row between-xs" *ngIf="isNewEmployee">
              <button mat-raised-button color="primary" (click)="onAdd()">Add</button>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <div class="row center-xs">
        <div class="image-container">
          <img [src]="displayProfileImageUrl" alt="Profile Image">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 row center-xs mt-1" *ngIf="!isNewEmployee">
          <input hidden type="file" #imageUpload (change)="uploadImage($event)">
          <button mat-raised-button color="primary" (click)="imageUpload.click()">Change image</button>
        </div>
      </div>
    </div>
  </div>

</div>
