<div class="page-header">
  <div class="container">
    <h1>Login</h1>
  </div>
</div>

<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
</div>

<div class="row center-xs">
  <div class="col-xs-6  ">
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="container-fluid">
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
        <br>

        <div class="row center-xs">
          <mat-form-field appearance="outline">
            <mat-label>Email address</mat-label>
            <input type="email" matInput id="username" name="username" ngModel class="form-control" placeholder="User Name"
          required autofocus>
          </mat-form-field>
        </div>

        <div class="row center-xs">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput id="password" name="password" ngModel class="form-control" placeholder="Password"
          required autofocus>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" (click)="isLoggedIn()">Submit</button>
      </div>
    </form>
  </div>
</div>
